body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #A48885;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content img.logo {
    border-radius: 50%;
    height: 50px;
    width: 80px;
    margin-right: 1rem;
    cursor: pointer;
}

.header-content h1 {
    margin: 0;
    cursor: pointer;
}

.header-content nav a {
    margin-left: 2rem;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 2rem;
}

.landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.landing-content img.welcome-image {
    max-width: 100%;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #A48885;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.auth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.auth-text-image {
    max-width: 100%;
    margin-bottom: 2rem;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
}

.auth-form input {
    padding: 0.5rem;
    font-size: 1rem;
}

.auth-form button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #A48885;
    color: #fff;
    border: none;
    cursor: pointer;
}

.browse-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.search-bar {
    width: 100%;
    max-width: 500px;
    margin-bottom: 2rem;
}

.search-bar input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
}

.catalogue {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(25% - 2rem);
    box-sizing: border-box;
}

.book-item img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.book-item h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.book-item button {
    background-color: #A48885;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.cart-page #cart-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item h3 {
    font-size: 1rem;
    margin: 0;
}

.cart-item button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.cart-item input {
    width: 50px;
    text-align: center;
}
